<<<<<<< HEAD
h1 {
  color: red;
=======
// breytur fyrir mikið notaðar stærðir
$max-width: 1200px;
$gutter: 20px;

/* setjum box-sizing: border-box; á allt */
html { /* stylelint-disable-line */
  box-sizing: border-box;
>>>>>>> a68bf34ef3d8b59b3b32e3c1c1f6b527dd85c4a6
}

*, *:before, *:after { /* stylelint-disable-line */
  box-sizing: inherit;

  /* fjarlægjum margin og padding */
  padding: 0;
  margin: 0;
}

html { /* stylelint-disable-line */
  // til þess að texti liggi ekki upp við brún á viewport þegar
  // við erum < 1200px breiðum skjá, setjum margin á báða kanta html
  // ruglar líka ekki í grid overlay
  margin-right: 0;
  margin-left: 0;

  font-family: Lato, helvetica, arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;

  @media (min-width: $max-width) {
    margin: 0;
    padding:0;
  }
}

img { /* stylelint-disable-line */
  max-width: 100%;
}

main { /* stylelint-disable-line */
  max-width: $max-width;
  margin: 0 auto;
  padding: 0 auto;

  // þar sem við erum að eiga við neikvæð margin á grid, setjum overflow-x
  // hér sem hidden, þá fáum við ekki lárétta skrunstiku
  overflow-x: hidden;
}

@import "scss/header.scss";
@import "scss/button.scss";
@import "scss/nav.scss";
@import "scss/list.scss"
