@charset "UTF-8";
/* setjum box-sizing: border-box; á allt */
html {
  /* stylelint-disable-line */
  box-sizing: border-box; }

*, *:before, *:after {
  /* stylelint-disable-line */
  box-sizing: inherit;
  /* fjarlægjum margin og padding */
  padding: 0;
  margin: 0; }

html {
  /* stylelint-disable-line */
  margin-right: 0;
  margin-left: 0;
  font-family: Open Sans;
  font-size: 16px;
  line-height: 1.5; }
  @media (min-width: 1200px) {
    html {
      margin: 0;
      padding: 0; } }

img {
  /* stylelint-disable-line */
  max-width: 100%; }

main {
  /* stylelint-disable-line */
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 auto;
  overflow-x: hidden; }

.header {
  box-shadow: inset 0 0 0 9999999px rgba(255, 255, 255, 0.2);
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center; }
  .header__image {
    padding-left: 0.5em;
    color: #fff;
    height: 50vh;
    background: url("bg-subpage.jpg");
    background-position: 50% 50%;
    background-size: cover;
    text-align: left;
    font-size: 2em;
    margin-bottom: 2em;
    word-wrap: break-word; }
  .header__forsida {
    background-image: url("bg.jpg");
    height: 100vh;
    background-attachment: fixed;
    background-position: 50% 50%;
    background-size: cover;
    align-items: center; }
    .header__forsida--p {
      opacity: 0;
      animation: fadeInOnLoad 2s 1 forwards;
      animation-delay: 1s;
      font-size: 1.4em; }
    .header__forsida--h1 {
      font-size: 3em;
      margin: 0.5em;
      opacity: 0;
      animation: fadeInOnLoad 2s 1 forwards;
      animation-delay: 2s;
      font-weight: 900; }
    .header__forsida--a {
      color: #FFFFFF;
      text-decoration: none;
      font-size: 2em;
      font-weight: lighter;
      opacity: 0;
      animation: fadeInOnLoad 2s 1 forwards;
      animation-delay: 3s; }

@keyframes fadeInOnLoad {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.about-article {
  padding-left: 1em; }

.block {
  margin: 2em 2em 2em 0; }

.about-blockquote {
  position: relative;
  float: right;
  width: 60%;
  padding: 2em 3em 6em; }

@media (max-width: 499px) {
  .about-blockquote {
    width: 100%; } }

.quote {
  padding-bottom: 1em;
  font-size: 1.3125em;
  font-style: italic; }

.author {
  font-size: 0.875em; }

main {
  font-family: 'Open Sans'; }

h1, h2 {
  font-family: 'Roboto Slab'; }

.button {
  display: inline-block;
  max-width: 256px;
  padding: 10px 1em;
  margin: 0;
  overflow: hidden;
  font-size: 1rem;
  color: #eee;
  text-align: center;
  text-decoration: none;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
  background-color: #666;
  border: 1px solid #666;
  border-radius: 4px;
  transition: background-color 500ms ease, color 500ms ease; }
  .button:hover {
    color: #eee;
    background-color: #333; }
  .button--inverted {
    color: #666;
    background-color: #eee; }
  .button--inverted:hover {
    color: #333;
    background-color: #ccc; }
  .button--disabled, .button--disabled:hover {
    color: #999;
    background-color: #eee;
    border-color: #eee; }

nav {
  position: fixed;
  z-index: 1000;
  width: 100%;
  height: 2.75em;
  background-color: rgba(0, 0, 0, 0.8); }

nav > a {
  position: absolute;
  color: #fff;
  text-decoration: none; }

.index-link {
  top: 0.15em;
  left: 0.75em;
  font-family: "Roboto Slab";
  font-size: 1.5em;
  font-weight: bold; }

.about-link {
  top: 0.5em;
  right: 7em;
  font-size: 1.125em; }

.buy-link {
  top: 0.25em;
  right: 2em;
  width: 4em;
  padding: 0.25em 1em 0.25em 0.5em;
  font-size: 1.125em;
  background-color: #666666;
  border-radius: 0.25em; }

ul {
  list-style: none;
  margin: 2em 0em 2em 2em;
  width: 90%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-around; }

li {
  position: relative; }

li > p:first-child {
  font-weight: bold; }

li::before {
  position: absolute;
  display: block;
  content: '';
  left: -1.5em;
  width: 2em;
  height: 2em;
  background-repeat: no-repeat;
  background-image: url("check.svg");
  background-size: 1.2em 1.2em;
  background-position: 0em 0.2em; }

.listrow {
  margin-top: 5em;
  margin-bottom: 55em; }

.list--image {
  margin-top: 2em;
  display: flex;
  align-items: center;
  justify-content: center; }

.input--col {
  display: flex;
  flex-direction: column; }

input {
  padding: 0.1em;
  border-radius: 0.3em; }

label {
  margin-top: 0.5em; }

select {
  border-radius: 0.3em;
  padding: 0.1em; }

.buy--title {
  position: absolute;
  top: 250px;
  left: 0;
  width: 100%;
  padding: 16px; }

.gildistimi {
  display: inline-flex;
  align-items: center;
  justify-content: space-between; }
  .gildistimi--man {
    width: 7em;
    height: 1.9em; }
  .gildistimi--ar {
    width: 7em;
    height: 1.9em; }

.panta-button {
  display: inline-block;
  padding: 10px 5px;
  border: 1px solid #666;
  border-radius: 4px;
  width: 100%;
  max-width: 256px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #eee;
  background-color: #666;
  font-size: 1rem;
  text-decoration: none;
  text-align: center; }

.panta-button:hover {
  color: #eee;
  background-color: #333; }

.panta-section {
  height: auto;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  margin-top: 5em;
  margin-bottom: 5em; }

.notandi {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center; }

.notandi--askrift > p:first-child {
  font-weight: bold;
  font-size: 1em;
  color: #000; }

.notandi--askrift > p {
  font-size: 0.875em;
  color: #555; }

.notandi > blockquote {
  font-weight: bold;
  font-style: italic;
  font-size: 1.1em;
  margin: 1em 0 1em 0; }

.notandi > img {
  border-radius: 100%;
  width: 90%; }

.why-wait {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.5em; }

.why-wait > p {
  font-weight: bold;
  font-size: 0.75em;
  margin-bottom: 1em; }

.why-wait > a {
  font-size: 1.125em;
  padding: 0.3em 2em;
  border-radius: 3px; }

.main-section {
  margin-bottom: 5em;
  margin-top: 5em; }

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -10px;
  margin-bottom: 20px;
  margin-left: -10px; }

.col {
  padding-right: 10px;
  padding-left: 10px; }
  .col-12 {
    width: 100%; }
  .col-8 {
    width: 66.66667%; }
  .col-6 {
    width: 50%; }
  .col-4 {
    width: 33.33333%; }
  .col-3 {
    width: 25%; }
  @media (max-width: 799px) {
    .col-sm-12 {
      width: 100%; }
    .col-sm-6 {
      width: 50%; }
    .col-sm-3 {
      width: 25%; } }
  @media (max-width: 499px) {
    .col-xsm-12 {
      width: 100%; }
    .col-xsm-6 {
      width: 50%; }
    .col-xsm-3 {
      width: 25%; } }

.offset-1 {
  margin-left: 8.33333%; }

.offset-2 {
  margin-left: 16.66667%; }

@media (max-width: 799px) {
  .offset-sm-0 {
    margin-left: 10px;
    margin-right: 10px; }
  .offset-sm-3 {
    margin-left: 25%; } }

@media (max-width: 499px) {
  .offset-xsm-0 {
    margin-left: 10px;
    margin-right: 10px; }
  .offset-xsm-3 {
    margin-left: 25%; } }

.footer {
  background-color: #353535;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  color: #eee;
  display: flex;
  padding: 1em 3em 0.5em 3em; }
  .footer--left {
    width: 50%;
    text-align: center; }
  .footer--right {
    text-align: center;
    width: 50%; }
  .footer--bottom {
    text-align: center;
    font-size: 0.875em;
    color: #888;
    width: 100%;
    border-top: 1px solid #aaa;
    margin-top: 1em;
    padding-top: 1em;
    padding-bottom: 1em; }
