.about-article {

}

.block {
  margin-top: 2em;
  margin-bot: 2em;
}

.about-blockquote{
  float: right;
  position: relative;
  width: 50%;
  padding: 5em;
}

.quote{
  font-style: italic;
  font-size: 1.5em;
  padding-bottom: 2em;
}
