.about-article {
  padding-left: 1em;
}

.block {
  margin: 2em 2em 2em 0;
}

.about-blockquote {
  position: relative;
  float: right;
  width: 60%;
  padding: 2em 3em 6em;
}
@media (max-width: 499px) {
  .about-blockquote {
    width: 100%;
  }
}

.quote {
  padding-bottom: 1em;
  font-size: 1.3125em;
  font-style: italic;
}

.author {
  font-size: 0.875em;
}
