.about-article {
 padding-left: 1em;
}

.block {
  margin-top: 2em;
  margin-bottom: 2em;
  margin-right: 2em;
}

.about-blockquote {
  float: right;
  position: relative;
  width: 60%;
  padding: 2em 3em 6em 3em; }
  @media (max-width: 499px) {
    .about-blockquote{
      width: 100%;
    }
  }


.quote {
  font-style: italic;
  font-size: 1.3125em;
  padding-bottom: 1em;
}

.author {
  font-size: 0.875em;
}
