.footer {
  display: flex;
  padding: 1em 3em 0.5em;
  color: #eee;
  background-color: #353535;
  flex-wrap: wrap;
  justify-content: space-around;

  &--left {
    width: 50%;
    text-align: center;
  }

  &--right {
    width: 50%;
    text-align: center;
  }

  &--bottom {
    width: 100%;
    padding-top: 1em;
    padding-bottom: 1em;
    margin-top: 1em;
    font-size: (14/16)*1em;
    color: #888;
    text-align: center;
    border-top: 1px solid #aaa;
  }
}
