.footer {
  background-color: #555;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  color: #eee;
  display: flex;
  padding: 2em 3em 1em 3em;

  &--left{
    width: 50%;
    text-align: center;
 }
  &--right{
    text-align: center;
    width: 50%;
  }
  &--bottom {
    text-align: center;
    width: 100%;
    border-top: 1px solid #aaa;

  }
}
