.notandi {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}
.notandi > blockquote {
  font-weight: bold;
  font-style: italic;
}
.notandi > img {
  border-radius: 100%;
  width: 90%;
}
.why-wait {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
}
.main-section {
  margin-bottom: 4em;
  margin-top: 4em;
}

.forsida > a {
  color: white;
  text-decoration: none;
}
