.forsida {
  font-family: "Merriweather";
  background-image: url("bg.jpg");
  background-size:cover;
  background-attachment: fixed;
  background-position: 50% 50%;
  height: 20em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.forsida > p {

}

.about-header {
  background-repeat:   no-repeat;
  background-position: center center;
  background-size: contain;

  background: url(bg-subpage.jpg);
  min-height: 20em;
}
