header {
  box-shadow: inset 0 0 0 9999999px rgba(255, 255, 255, 0.2);
}
.forsida {
  font-family: "Merriweather";
  background-image: url("bg.jpg");

  background-size:cover;
  background-attachment: fixed;
  background-position: 50% 50%;

  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.forsida > h1 {
  opacity: 0;
  animation: fadeInOnLoad 2s 1 forwards;
  animation-delay: 2s;
  font-size: 3em;
  font-weight: bold;
  margin: 0.5em;
}
.forsida > p {
  opacity: 0;
  animation: fadeInOnLoad 2s 1 forwards;
  animation-delay: 1s;
  font-size: 1.4em;
}
.forsida > a {
  opacity: 0;
  animation: fadeInOnLoad 2s 1 forwards;
  animation-delay: 3s;
}
@keyframes fadeInOnLoad {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.header-image {
  width: 100%;
  background: url(bg-subpage.jpg);
  background-size: cover;
  min-height: 18em;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  font-size: 2em;
  padding-left: 0.5em;
  margin-bottom: 2em;
}
