.input--col {
  display: flex;
  flex-direction: column;
}

input {
  padding: 0.1em;
  border-radius: 0.3em;
}

label {
  margin-top: 0.5em;
}

select {
  padding: 0.1em;
  border-radius: 0.3em;
}

.buy--title {
  position: absolute;
  top: 250px;
  left: 0;
  width: 100%;
  padding: 16px;
}

.gildistimi {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;

  &--man {
    width: 7em;
    height: 1.9em;
  }

  &--ar {
    width: 7em;
    height: 1.9em;
  }
}

.panta-button {
  display: inline-block;
  width: 100%;
  max-width: 256px;
  padding: 10px 5px;
  overflow: hidden;
  font-size: 1rem;
  color: #eee;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  background-color: #666;
  border: 1px solid #666;
  border-radius: 4px;
}

.panta-button:hover {
  color: #eee;
  background-color: #333;
}

.panta-section {
  display: flex;
  width: 100%;
  height: auto;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  margin-top: 5em;
  margin-bottom: 5em;
}
