.input {

  &--col {
    display: flex;
    flex-direction: column;
  }
  &--text {

  }


}
input {
  border-radius: 0.3em;
  padding: 0.1em;
  border-color: #ddd;
}
label {
margin-top: 0.5em;
}
select {
  border-radius: 0.3em;
  padding: 0.1em;
  border-color: #ddd;
}
.buy--title {
  position: absolute;
  top: 250px;
  left: 0;
  width: 100%;
  padding: 16px;
}
.gildistimi {
  display: inline-flex;
  justify-content: space-between;
  &--man {
    width: 5em;
  }
  &--ar {
    width: 5em;
  }
}

.panta-button {

  display: inline-block;
  padding: 10px 5px;
  border: 1px solid #666;
  border-radius: 4px;
  width: 100%;
  max-width: 256px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #eee;
  background-color: #666;
  font-size: 1rem;
  text-decoration: none;
  text-align: center;
}
.panta-button:hover {
  color: #eee;
  background-color: #333;
}

.panta-section {
  height: auto;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  margin-top: 5em;
  margin-bottom: 5em;
}
