ul {
  list-style: none;

  margin: 2em 0em 2em 2em;
  width: 90%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

}

li {
  position: relative;
}
li > p:first-child {
  font-weight: bold;
}
li::before {
  position: absolute;
  display: block;
  content: '';
  left: -1.5em;
  width: 2em;
  height: 2em;
  background-repeat: no-repeat;
  background-image: url("check.svg");
  background-size: 1.2em 1.2em;
  background-position: 0em 0.2em;
}

.listrow {
  margin-top: 5em;
  margin-bottom: 55em;
}

.list--image{
  margin-top: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
}
