.ulist {
  display: flex;
  width: 90%;
  height: 90%;
  margin: 2em 0 2em 2em;
  list-style: none;
  flex-direction: column;
  justify-content: space-around;
}

.li {
  position: relative;
}

.li::before {
  position: absolute;
  left: -1.5em;
  display: block;
  width: 2em;
  height: 2em;
  content: "";
  background-image: url("check.svg");
  background-repeat: no-repeat;
  background-position: 0 0.2em;
  background-size: 1.2em 1.2em;
}

.listrow {
  margin-top: 5em;
  margin-bottom: 55em;
}

.list--image {
  display: flex;
  margin-top: 2em;
  align-items: center;
  justify-content: center;
}
